/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.sideDrawerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between;
  margin: 1em;
}

.title {
  color:green;
  font-weight: bold;
}

:root {
  --lumo-primary-color:green;
  --lumo-primary-color-50pct:lightgreen;
  --lumo-primary-color-100pct: var(--lumo-shade-10pct, lightgray);
}

